
<%= render 'share/formmsg' %>


  <div class="row">
    <div class='col s12 m8 offset-m2 l8 offset-l2'>
      <%= form_for [:admin, @rest] do |f| %>

        <div class="input-field">
          <%= f.text_field :res_name , class: 'validate'%>
          <%= f.label :res_name, "餐廳名稱", class: 'active' %>
        </div>

        <div class="input-field">
          <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category" }%>
          <%= f.label :category_id, "餐廳分類" %>
        </div>
        <br/>

        <div class="input-field">
          <%= f.text_field :res_tel, class: 'validate'%>
          <%= f.label :res_tel, "餐廳電話", class: 'active'%>
        </div>

        <div class="input-field">
          <%= f.text_field :res_address, class: 'validate'%>
          <%= f.label :res_address, "餐廳地址", class: 'active' %>
        </div>

        <div class="input-field">
          <%= f.text_field :res_opening_hours,  class: 'validate' %>
          <%= f.label :res_opening_hours, "營業時間" , class: 'active'%>
        </div>

        <div class="input-field">
          <%= f.text_area :res_description, class: 'materialize-textarea' %>
          <%= f.label :res_description, "餐廳特色", class: 'active' %>
        </div>

        <div class="input-field">
          <%= f.file_field :photo,  class: 'validate' %><br/><br/>
          <%= f.label :photo, "上傳圖片", class: 'active' %>
        </div>

            <span><button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button></span>
            <span><%= link_to 'Back to dashboard' , admin_restaurants_path, class: 'btn waves-effect waves-light'%></span>   
      <% end %>
    </div>
  </div>




