
<%= render 'share/formmsg' %>

<div class="form-container">
  <div class="row">
    <div class='col s12 m6 offset-m3 l6 offset-l3'>
      <%= form_for [:admin, @rest] do |f| %>
       <%= f.label :name, "Name" %>
        <%= f.text_field :res_name, placeholder: 'Restaurant name' %>

        <%= f.label :tel, "Tel" %>
        <%= f.text_field :res_tel,placeholder: 'Tel, eg. 02-12345678' %>

        <%= f.label :res_address, "Address" %>
        <%= f.text_field :res_address, placeholder: 'Restaurant address'%>

        <%= f.label :res_opening_hours, "Opening Hours" %>
        <%= f.text_field :res_opening_hours, placeholder: 'Restaurant opening hours' %>

        <%= f.label :res_description, "Description" %>
        <%= f.text_area :res_description, placeholder: 'Give few lines to describe your restaurant' %>

        <%= f.label :photo, "Upload Photo" %>
        <%= f.file_field :photo, placeholder: 'Upload beautiful photos of your restaurant' %>
        <div class='form-container'>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
            <%= link_to 'Back to Listing' , admin_restaurants_path, class: 'btn waves-effect waves-light'%>
        </div>
      <% end %>
    </div>
  </div>
</div>


