<div class="row">
  <% @rests.each do |r| %>
      <div class="col s12 m6 l4">
        <div class="card medium">
          <div class="card-image">
            <% if r.photo? %>
              <%= image_tag r.photo, class: "responsive-img" %>
            <% else %>
              <% x= rand(5) %>
              <%= photo_generator(x) %>
            <% end %>
          </div>
          
          <div class="card-content">
            <div class="row">
              <div class="col s7 m7 l7">
                <span class="card-title"><%= link_to r.res_name,restaurant_path(r), class: "link-title"  %>
                </span>
                <span class='chip'><%= r.category.name %></span>
              </div>
              <div class="col s5 m5 l5">
                <div class='row'><%= render partial: "share/favorite-button", locals: {object: r} %>
                </div>     
                <div class="row">
                  <%= render partial: "share/res-like-button", locals: {object: r} %>
                </div>  
              </div>        
            </div>
            <p><%= r.res_description.truncate(70, :omission=> ".....") %></p>
          </div>  
        </div>
      </div>
  <% end %>
</div>