
<div class="row">
  <div class='col s12 m4 l4 center'>
    <%= image_tag @user.avatar , alt: 'pic', class: 'responsive-img circle' %>
  </div>
  <div class="col m1 l1"></div>

  <div class='col s12 m6 l6'>
    <h2><%= @user.name %></h2>
    <h4><%= @user.intro %></h4>
    <%= link_to edit_user_path(@user), class: 'btn waves-effect waves-light' do %>
      <span><i class="material-icons right">edit</i>編輯Profile</span>
    <% end %>
  </div>
</div>

<hr/>
<br/>



<div class="card-panel">
  <div class="card-header">
    <h5><%= @user.restaurants.count %>家已評論餐廳</h5>
  </div>

  <div class="row">
    <% @user.restaurants.each do |restaurant| %>
      <div class="col s6 m3 l2 center">
        <div class="profile-panel">
          <% if restaurant.photo? %>
            <%= image_tag restaurant.photo, alt: 'pic' ,class: 'responsive-img'  %> 
          <% else %>
              <% x = rand(5) %>
                <% if x == 0 %>
                  <%= image_tag "https://images.unsplash.com/photo-1494346480775-936a9f0d0877?auto=format&fit=crop&w=1003&q=80", class: "responsive-img" %>
                <% elsif x == 1 %>
                  <%= image_tag "https://images.unsplash.com/photo-1505826759037-406b40feb4cd?auto=format&fit=crop&w=1052&q=80", class: "responsive-img" %>
                <% elsif x == 2 %>
                  <%= image_tag "https://images.unsplash.com/photo-1505275350441-83dcda8eeef5?auto=format&fit=crop&w=967&q=80", class: "responsive-img" %>
                <% elsif x == 3 %>
                  <%= image_tag "https://images.unsplash.com/photo-1504940892017-d23b9053d5d4?auto=format&fit=crop&w=944&q=80", class: "responsive-img" %>
                <% else %>
                  <%= image_tag "https://images.unsplash.com/photo-1498654896293-37aacf113fd9?auto=format&fit=crop&w=1050&q=80", class: "responsive-img" %>
                <% end %>
          <% end %>   
          <div class="profile-title center">
            <%= link_to restaurant_path(restaurant) do %>
              <%= restaurant.res_name %>
            <% end %>
          </div> 
        </div>
      </div>
    <% end %>
  </div>
</div>


