
<div class="row">
  <div class='col s12 m4 l4 center'>
    <% if @user.avatar? %>
      <%= image_tag @user.avatar , alt: 'pic', class: 'responsive-img circle' %>
    <% else %>
      <%= image_tag "http://pic139.nipic.com/file/20170901/8286372_160316069799_2.jpg" , alt: 'pic', class: 'responsive-img circle' %>
    <% end %>
  </div>
  <div class="col m1 l1"></div>

  <div class='col s12 m6 l6'>
    <h2><%= @user.name %></h2>
    <h4><%= @user.intro %></h4>
    <% if @user == current_user %>
      <%= link_to edit_user_path(@user), class: 'btn waves-effect waves-light' do %>
        <span><i class="material-icons right">edit</i>編輯Profile</span>
      <% end %>
    <% end %>

    <%= render partial: "share/follow", locals: {user: @user} %>
  </div>
</div>

<hr/>
<br/>



<div class="card-panel">
  <div class="card-header">
    <h5 class="center"><strong><%= @user.restaurants.count %>家已評論餐廳</strong></h5>
  </div>

  <div class="row">
    <% @user.restaurants.each do |restaurant| %>
      <div class="col m2 l2">
        <div class="profile-panel">
          <div class="profile-img center-align">
            <% if restaurant.photo? %>
              <%= image_tag restaurant.photo, alt: 'pic' ,class: 'responsive-img'  %> 
            <% else %>
                <% x= rand(5) %>
                <%= photo_generator(x) %>
            <% end %>  
          </div> 
          <div class="center-align">
            <%= link_to restaurant_path(restaurant) do %>
              <%= restaurant.res_name %>
            <% end %>
          </div> 
        </div>
      </div>
    <% end %>
  </div>
</div>


