
<div class="container">
  <div class="row">
      <% @rests.each do |r| %>
          <div class="col s12 m6 l6">
            <div class="card">
              <div class="card-image">
                <%= image_tag r.photo, alt: 'pic'%>
                <span class="card-title"><%= r.res_name %></span>
              </div>
              <div class="card-content">
                <p class= 'truncate'><%= r.res_description %></p>
              </div>
              <div class="card-action center">
                <%= link_to 'Show', admin_restaurant_path(r) %>
                <%= link_to 'Edit', edit_admin_restaurant_path(r) %>
                <%= link_to 'Delete', admin_restaurant_path(r), method: :delete, data: {confirm:"Are you sure?"}%>
              </div>
            </div>  
          </div>
      <% end %>
   </div>
</div>

<div class='pagination center'><%= paginate @rests %></div>
