

<div class="row">

  <div class="col s12 m4 l4">
    <%= render :partial => 'share/sidebar' %>
    <%= link_to ('<i class="small material-icons">add</i>'.html_safe), new_admin_restaurant_path, class: "btn-floating btn-large waves-effect waves-light dark-blue pulse" %>
  </div>

  <div class="col s12 m8 l8">     
        <table class= 'responsive-table highlight'>
                <thead>
                  <tr>
                      <th>ID</th>
                      <th>餐廳名稱</th>
                      <th>餐廳分類</th>
                      <th>餐廳登錄日期</th>
                      <th>餐廳管理</th>
                      <th>上次更新</th>
                  </tr>
                </thead>

                <tbody>
                  <% @rests.each do |r| %>
                    <tr>
                      <td><%= r.id %></td>
                      <td><%= r.res_name %></td>
                      <td><%= r.category.name %></td>
                      <td><%= r.created_at.to_date %></td>
                      <td>
                         <%= link_to ('<i class="small material-icons">expand_more</i>'.html_safe), admin_restaurant_path(r) %>
                         <%= link_to ('<i class="small material-icons">edit</i>'.html_safe), edit_admin_restaurant_path(r) %>
                         <%= link_to ('<i class="small material-icons">delete</i>'.html_safe), admin_restaurant_path(r), method: :delete, data: {confirm:"Are you sure?"}%>
                      </td>
                      <td><%= r.updated_at.to_date %></td>
                    </tr>
                  <% end %>
                </tbody>
        </table> 
  </div>
</div>


<div class='center'><%= paginate @rests %></div>
