<div class="container">
    <div class="row">
      <div class="col s12">
          <div class="card">
              <div class="card-image ">
                  <%= image_tag @rest.photo,  alt: 'pic'%>
                  <span class="card-title"><%= @rest.res_name %></span>
              </div>
              <div class="card-content">
                  <p ><%= @rest.res_description %></p>
                  <p ><%= @rest.res_tel %></p>
                  <%= link_to 'Back to Listing' , admin_restaurants_path, class: 'btn waves-effect waves-light'%>
              </div>
          </div>
      </div>
    </div>
</div>

