<div class="row">
  <div class="col s12 m5 offset-m1 l5 offset-l1"> 
    <ul class="collection with-header" >
      <li class="collection-header" style="background-color: #BCBDBC;"><h5 >You have following friends requests to be confirmed:</h5></li>
      <% if @unconfirmed_friends.exists? %>
        <% @unconfirmed_friends.each do |user| %>
          <li class="collection-item avatar"><span class="title"><% x= rand(7) %><%= avatar_generator(x)%><%= link_to user.name, user_path(user) %>
          <%= link_to reject_friendship_path(friend_id: user), method: :post, class: 'btn-floating brown right' do %>
            <i class="small material-icons">close</i>
          <% end %>
          <%= link_to accept_friendship_path(friend_id: user), method: :post, class: 'btn-floating brown right' do %>
            <i class="small material-icons">check</i>
          <% end %>
          </span></li>
        <% end %>
      <% else %>
          <li class="collection-item">You have no friends request to confirm</li>
      <% end %>
    </ul>
  </div>
  <div class="col s12 m5 offset-m1 l5 offset-l1"> 
    <ul class="collection with-header" >
      <li class="collection-header" style="background-color: #BCBDBC;"><h5 >Your confirmed friends list:</h5></li>
      <% if @accepted_friends.exists? %>
        <% @accepted_friends.each do |user| %>
          <li class="collection-item avatar"><span class="title"><% x= rand(7) %><%= avatar_generator(x)%><%= link_to user.name, user_path(user) %></span></li>
        <% end %>
      <% else %>
          <li class="collection-item">You have no confirmed friends</li>
      <% end %>
    </ul>
  </div>
</div>