
  <div class='valign-wrapper'>
    <%= link_to restaurants_path do %>
       <i class= 'material-icons medium'>arrow_back</i> 
    <% end %>
    <div class="chip">
       <%= @rest.category.name %> 
    </div>
  </div>

  <div class="row">
    <div class="col s12 m7 l7">
      <div class="card ">
        <div class="card-image ">
         <% if @rest.photo? %>
            <%= image_tag @rest.photo, alt: 'pic' ,class: 'responsive-img'  %> 
          <% else %>
              <% x = rand(5) %>
                <% if x == 0 %>
                  <%= image_tag "https://images.unsplash.com/photo-1494346480775-936a9f0d0877?auto=format&fit=crop&w=1003&q=80", class: "responsive-img" %>
                <% elsif x == 1 %>
                  <%= image_tag "https://images.unsplash.com/photo-1505826759037-406b40feb4cd?auto=format&fit=crop&w=1052&q=80", class: "responsive-img" %>
                <% elsif x == 2 %>
                  <%= image_tag "https://images.unsplash.com/photo-1505275350441-83dcda8eeef5?auto=format&fit=crop&w=967&q=80", class: "responsive-img" %>
                <% elsif x == 3 %>
                  <%= image_tag "https://images.unsplash.com/photo-1504940892017-d23b9053d5d4?auto=format&fit=crop&w=944&q=80", class: "responsive-img" %>
                <% else %>
                  <%= image_tag "https://images.unsplash.com/photo-1498654896293-37aacf113fd9?auto=format&fit=crop&w=1050&q=80", class: "responsive-img" %>
                <% end %>
          <% end %>   
        </div>
        <div class="card-content">
          <span class="card-title">
            <%= @rest.res_name %>
            <%= render partial: "share/favorite-button", locals: {object: @rest} %>
          </span><br/>
          <p >地址: <%= @rest.res_address %></p>
          <p >電話: <%= @rest.res_tel %></p>
          <p >營業時間: <%= @rest.res_opening_hours %></p>
        </div>   
      </div>
    </div>
    
    <div class="col s12 m5 l5 res-desc-show">  
        <div><%= @rest.res_description %></div>
        <div id="dashbutton"><a class="waves-effect waves-light btn modal-trigger " href="#modal1">Dashboard</a>
        </div>

        <div id="modal1" class="modal">
          <div class="modal-content">
            <ul>
              <li>有 <%= @rest.comments.count %> 筆評論</li>
              <li>這家餐廳的平均價位為 $XXX</li>
              <li>有 XX 人收藏這家餐廳</li>
            </ul>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>
    </div>
  </div>

  <br/><div class="divider"></div><br/>
    
  <div class="row">
    <div class="col s12 m12 l12">
      <% @rest.comments.each do |comment| %>
        <div>
          <h5><%= comment.user.email.split("@").first %></h5>
          <p><%= simple_format comment.content %><%= render partial: "share/comment-like-button", locals: {comment: comment} %></p>
          <p><%= time_ago_in_words(comment.created_at) + " ago" %>
          <% if (comment.user == current_user) || current_user.admin? %>
            <span><%= link_to '  Delete', restaurant_comment_path(@rest,comment), method: :delete, data: {confirm: "Are you sure ? "} %></span>
          <% end %>
          </p>
        </div>
        <hr>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l12">
      <%= form_for [@rest, @comment] do |comment| %>
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          <%= comment.text_area :content , class: 'validate', placeholder: '留個言吧' %>
          <span><%= comment.submit '新增評論' %></span>
          <span><%= comment.button "Cancel", type: :reset %></span>      
        </div>
      <% end %>
    </div>
  </div>

