<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
      <!--font-awesome CDN -->
      <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  </head>

  <body>
    <header>
      <%= render 'share/navbar' %>
    </header>
    
    <main>
      <div class="container">
        <%= render 'share/message' %> 
        <%= yield %>  
      </div>
    </main>

    <footer class="page-footer brown darken-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Join Us</h5>
            <p class="grey-text text-lighten-4">We are now looking for the talented to join our big family !</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Social Media</h5>
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-google"></a>
              <a href="#" class="fa fa-linkedin"></a>
              <a href="#" class="fa fa-youtube"></a>
          </div>
        </div>
      </div>
      <div class="footer-copyright brown darken-3">
        <div class="container">
        © 2018 Copyright EZfood
        </div>
      </div>
    </footer>

  </body>


</html>
